  {% extends 'base.html' %}
  {% block content %}
  <title>Security Newsletter - About</title>
  <div class="ui container">

   <p>
      <h1>About</h1>
   </p>
   <p>
      This website provides individuals and organizations with boilerplate security awareness newsletters and rotating cybersecurity tips and links. As a security consultant, I have viewed many security awareness training and newsletters that offer dated advice from the mid-2000s when the internet and its risks were vastly different. My goal is to provide advice that end users can understand and is fit for 2022 and beyond.
   </p>
   <p>
      <b>Each refresh</b> of the site pulls a new set of tips and links from the database. This database contains security advice from industry professionals on Twitter, LinkedIn, and other avenues.
   </p>

  </div>
  
  {% endblock %}