<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Security Newsletter</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=0.6"> 
    
  </head>
  <body>

<div class="ui container">
  <p></p>


  <a href="/" class="brand">
    <h1><font color="5FD068">Security</font>Newsletter</h1>
 </a>
  
    <a href="/">Home</a> |
    <a href="/about">About</a>

</div>


    {% block content %} {% endblock %}

   <br><center><p>Copyright © 2022 <a href="https://akatz.org">Andrew Katz</a></p></center>

</body>

</html>