{% extends 'base.html' %}
{% block content %}
{% for news in news %}

<div class="ui container">

<p><h1>
<script>
const monthNames = ["January", "February", "March", "April", "May", "June",
  "July", "August", "September", "October", "November", "December"
];

const d = new Date();
document.write(monthNames[d.getMonth()] + " Security Awareness Newsletter" );
</script>
</h1>
</p>

<!-- Main Content --> 

      <p><center><img height="25%" width="25%" style="border:1px solid #000000" src="{{ news['themeimg'] }}"></p></center><br>

      <p>This month's security newsletter theme is <b>{{ news['themename'] }}</b></p>

      <p>As always, email security is paramount. However, you should still be suspicious of urgent phone requests regarding passwords or other sensitive information. Here are some general guidelines:</p>

<ul>
  <li><b>No one will ever ask you for your password</b>. Do not provide sensitive personal information (like usernames and passwords) over phone or email.</li>
  <li><b>Be suspicious!</b> Do not click on links or attachments from senders that you do not recognize. If you receive an email from someone you know, but it seems suspicious, call them directly if you are unsure.</li>
  <li>Do not respond to phishing emails so that we don't give away how our e-mail signature looks.</li>
  <li>Be especially wary of .zip or other compressed or executable (.exe) file types attached to emails.</li>
  <li>Watch for email senders that use suspicious or misleading domain names. </li>
</ul>

      </p>
    <p>Look for the lock symbol when browsing. This signifies that the browser is encrypting your data in transit so that hackers cannot intercept it.</p><p><img height="10%" width="10%" src="/static/lock.png"></p>
    <p>If something seems wrong - <b>DO</b> notify IT.</p>
    <p>Thank you for all that you do to keep yourself and our organization safe from threats.</p>
    <p>Be sure to check out the following cybersecurity tips, links, and news articles selected for this month's newsletter.</p>



<!-- Links -->

      <p><h1> Cybersecurity Tips </h1></p>

      <p><b>Tip #1: </b>{{ news['tip1'] }}</p>

      <p><b>Tip #2: </b>{{ news['tip2'] }}</p>

      <p><b>Tip #3: </b>{{ news['tip3'] }}</p>


<!-- Links -->

      <p><h1>Cybersecurity Links and News</h1></p>
      <p><b>{{ news['link1name'] }} </b><a href="{{ news['link1'] }}">{{ news['link1'] }}</a> </p>

      <p><b>{{ news['link2name'] }} </b><a href="{{ news['link2'] }}">{{ news['link2'] }}</a> </p>

      <p><b>{{ news['link3name'] }} </b><a href="{{ news['link3'] }}">{{ news['link3'] }}</a></p>

<!-- Export Options -->

    <div>
      <button class="ui green basic button" onClick="window.print();return false;">
        Print this page
      </button>
    </div>

</div>

      {% endfor %}

{% endblock %}